/* portfolio */

* {
    margin: none;
    padding: none;
    box-sizing: content-box;
}

ul {
    list-style: none;
}

body {
    font-family: "poppins", sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
}

body .modo-escuro{
    background-color: #212121;
    color: #fdfcfc;
}


.perfil{
    margin-left: 15rem;
}

header .portfolio {
    max-width: 20rem;
    margin-left: 1.4rem;
}

header {
    display: flex;
    gap: 14rem;
    justify-content: space-around;
    padding: 2.5rem;
}

header .navegacao  {
    font-size: 1.5rem;
    display: flex;
    margin-right: 3rem;
}

header .nav{
    margin-right: 3rem;
    margin-top: 1.5rem;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(60, 97, 184);
}

header .lua{
    max-width: 3rem;
    margin-top: 1rem;
    margin-left: 10rem;
}

.listagem-videos {
    text-align: center;
    display: flex;
    justify-content: center;
}


.descricao{
   margin-top: -4.5rem;
}



.button-code,
.button-projeto{
    /* background: #e64f4f; */
    border: 0.1rem solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 1rem;
}

.historia{
    max-width: 25rem;
    margin-left: 5.5rem;
}

.button-code:hover,
.button-projeto:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.button-code{
    background-color: rgb(141, 141, 243);
}

.button-projeto{
    background-color: rgb(209, 88, 88);
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: -4rem;
}

main h4 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin-top: -2rem;
    margin-bottom: -0.2rem;
    margin-left: 1rem;
}

main h5 {
    color: rgb(58, 42, 165);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: -0.2rem;
    margin-left: 1rem;
}

main .video {
    align-items: center;
    padding: 5rem;
    /* margin-right: 5rem; */
}





iframe {
    margin-left: rem;
    border-radius: 1rem 3rem;
}

.botao-facebook,
.botao-github,
.botao-instagram,
.botao-linkedin,
.lua {
    max-width: 4rem;
    transition: 0.2s ease-in-out;
}

.botao-facebook:hover,
.botao-github:hover,
.botao-instagram:hover,
.botao-linkedin:hover,
.lua:hover {
    transform: scale(1.05);
}

.listagem-redes-sociais {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    align-items: top;
    justify-content: center;
    margin-top: 13rem;
}

.footer {
    color: rgb(255, 0, 0);
}

footer{
    margin-left: 2rem;
    padding: 1rem;
    text-align: center;
}