* {
    margin: none;
    padding: none;
    box-sizing: content-box;
}

ul {
    list-style: none;
}

body {
    font-family: "poppins", sans-serif;
    max-width: 1920px;
    text-transform: uppercase;
    background-color: rgb(151, 149, 147);
}

/* header */

header {
    display: flex;
    gap: 14rem;
    justify-content: space-around;
    padding: 2.5rem;
}


header .perfil{
    margin-left: 20rem;
}

header .foto-de-perfil {
    max-width: 10rem;
    border-radius: 1rem 4rem;
    margin-left: 1.4rem;
}

header {
    display: flex;
    gap: 14rem;
    justify-content: space-around;
    padding: 2.5rem;
}

header .navegacao{
    font-size: 1.5rem;
    display: flex;
    margin-right: 6rem;
}

header .nav{
    margin-left: 3rem;
    margin-top: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(60, 97, 184);
}

/* main */

h4 {
    font-size: 3rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: -0.5rem;
}


main .listagem-de-ensino {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    justify-content: center;

}

main .cartao-de-ensino,
.informacoes {
    background-color: rgb(132, 133, 133);
    max-width: 15rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1rem 3rem;
    transition: 0.2s ease-in-out;
    border: 0.1rem solid #050505;
}

main .cartao-de-ensino,
.png {
    max-width: 40rem;
}

main .cartao-de-ensino,
.informacoes,
.modulos,
.modulo01,
.modulo02 {
    padding: 0.5rem;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
}

main .cartao-de-ensino,
.modulos,
.modulo01,
.modulo02,
.modulo03 {
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
    border-radius: 1rem;
}

main .descricao {
    max-height: 12rem;
    overflow-y: auto;
}

main .cartao-de-ensino:hover {
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}


main .modulo1,
.modulo01,
.modulo02,
.modulo03 {
    padding: 1rem;
    border-radius: 3rem 1rem;
}

main .modulo1 {
    background-color: rgb(140, 150, 150);
}

main .modulo01 {
    background-color: rgb(3, 185, 3);
}

main .modulo02 {
    background-color: darkgoldenrod;
}

main .modulo03 {
    background-color: rgb(184, 75, 11);
}


/* footer */

.footer{
    color: blue;
}

.semestre{
    background-color: orange;
}

 .listagem-redes-sociais {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 3rem;
    justify-content: center;
}

.botao-facebook,
.botao-github,
.botao-instagram,
.botao-linkedin {
    max-width: 4rem;
    transition: 0, 2s ease-in-out;
    
}

.botao-facebook:hover,
.botao-github:hover,
.botao-instagram:hover,
.botao-linkedin:hover {
    transform: scale(1.05);
    
}

footer{
    margin-left: 2rem;
    padding: 1rem;
    text-align: center;
}