/* portfolio */

* {
    margin: none;
    padding: none;
    box-sizing: content-box;
}

ul {
    list-style: none;
}

body {
    font-family: "poppins", sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: rgb(151, 149, 147);
}

.perfil{
    margin-left: 15rem;
}

header .portfolio {
    max-width: 20rem;
    margin-left: 1.4rem;
}

header {
    display: flex;
    gap: 14rem;
    justify-content: space-around;
    padding: 2.5rem;
}

header .navegacao  {
    font-size: 1.5rem;
    display: flex;
    margin-right: 3rem;
}

header .nav{
    margin-right: 3rem;
    margin-top: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(60, 97, 184);
}

main .listagem-videos {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: -4rem;
}

main h4 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin-top: -2rem;
    margin-bottom: -0.2rem;
    margin-left: 1rem;
}

main h5 {
    color: rgb(58, 42, 165);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: -0.2rem;
    margin-left: 1rem;
}

main .video01 {
    align-items: center;
    padding: 2rem;
    margin-right: 5rem;

}

iframe {
    margin-left: 2rem;
}

.botao-facebook,
.botao-github,
.botao-instagram,
.botao-linkedin {
    max-width: 4rem;
    transition: 0, 2s ease-in-out;
}

.botao-facebook:hover,
.botao-github:hover,
.botao-instagram:hover,
.botao-linkedin:hover {
    transform: scale(1.05);
}

.listagem-redes-sociais {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    align-items: top;
    justify-content: center;
    margin-top: 13rem;
}

.footer {
    color: blue;
}

footer{
    margin-left: 2rem;
    padding: 1rem;
    text-align: center;
}