* {
    margin: none;
    padding: none;
    box-sizing: content-box;
}

body{
    background-color: antiquewhite;
}

h1{
    font-size: 11rem;
    text-transform: uppercase;
    text-align: center;
}