* {
    margin: none;
    padding: none;
    box-sizing: content-box;
}

ul {
    list-style: none;
}

body {
    font-family: "poppins", sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
}

body.modo-escuro {
    background-color: #212121;
    color: #fdfcfc;
    a {
        color: #fdfcfc;
    }
}

header #botao-alterar-tema{
    background: none;
    border: none;
    cursor: pointer;
}
header .imagem-botao{
    max-width: 3rem;
    margin-top: 1rem;
    margin-left: 12rem;
}
.imagem-botao {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

header .navegacao {
    font-size: 1.5rem;
    display: flex;
    margin-left: 3rem;
}

header {
    display: flex;
    gap: 14rem;
    justify-content: space-around;
    padding: 2.5rem;
}

.perfil{
    margin-left: 15rem;
}

header .jornada-profissional-png {
    max-width: 20rem;
    margin-left: 1.4rem;
    align-items: top;
}

header .navegacao  {
    font-size: 1.5rem;
    display: flex;
    margin-right: 3rem;
}

header .nav{
    margin-right: 3rem;
    margin-top: 1.5rem;
}

a, a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(60,97,184);
}

header .lua{
    max-width: 3rem;
    margin-top: 1rem;
    margin-left: 12rem;
}

h1{
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
}
main {
    text-align: center;
}

.xp {
    border: solid black 0.1rem;
    border-radius: 1rem;
    margin: 2rem;
}

span {
    color: blue;
}

/* footer */

.footer{
    color: rgb(255, 0, 0);
}

 .listagem-redes-sociais {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 3rem;
    justify-content: center;
}

.botao-facebook,
.botao-github,
.botao-instagram,
.botao-linkedin,
.lua {
    max-width: 4rem;
    transition: 0.2s ease-in-out;
    
}

.botao-facebook:hover,
.botao-github:hover,
.botao-instagram:hover,
.botao-linkedin:hover,
.lua:hover {
    transform: scale(1.05);
}

footer{
    margin-left: 2rem;
    padding: 1rem;
    text-align: center;
}