* {
    margin: none;
    padding: none;
    box-sizing: content-box;
}

ul {
    list-style: none;
}

body {
    font-family: "poppins", sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
}

body .modo-escuro{
    background-color: #212121;
    color: #fdfcfc;
}

header .navegacao{
    font-size: 1.5rem;
    display: flex;
    margin-left: 3rem;
}

header .nav{
    margin-left: 3rem;
    margin-top: 1.5rem;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(60, 97, 184);
}

header .lua{
    max-width: 3rem;
    margin-top: 1rem;
    margin-left: 12rem;
}

header {
    display: flex;
    gap: 14rem;
    justify-content: space-around;
    padding: 2.5rem;
}

h1{
    font-size: 11rem;
    text-transform: uppercase;
    text-align: center;
}

.listagem-redes-sociais {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    align-items: center;
    justify-content: center;
}

.botao-facebook,
.botao-github,
.botao-instagram,
.botao-linkedin {
    max-width: 4rem;
    transition: 0, 2s ease-in-out;
}


.botao-facebook:hover,
.botao-github:hover,
.botao-instagram:hover,
.botao-linkedin:hover {
    transform: scale(1.05);
}

.footer{
    color: rgb(255, 0, 0);
}

footer{
    margin-left: 3rem;
    padding: 1rem;
    text-align: center;
}